
@{
    ViewBag.Title = "Creatensx";
    Layout = "~/Areas/Admin/Views/Shared/View1.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <p>

            Mã nhà sản xuất :
            @Html.TextBox("MaNhaSanXuat")<font color=red>
                @ViewData["loi"]
            </font>
        </p>
        <p>

            Tên nhà sản xuất :
            @Html.TextBox("TenNhaSanXuat")<font color=red>
                @ViewData["loi1"]
            </font>
        </p>      
        <p> <button type="submit" class="btn btn-success">Tạo Mới</button>
            <a href="@Url.Action("Index","NhaCungCap")" class="btn btn-primary">
                Trở Về
            </a></p>
    </fieldset>
 
}

