@using WebApplication1.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<DatHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/View1.cshtml";
}

<h2>Kiểm Tra Đơn Hàng</h2>
<div class="page-wrapper">
    <table width="100" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    Số đơn đặt hàng
                </th>
                <th>
                   Ngày đặt hàng
                </th>              
                <th>
                    Đã giao
                </th>
                <th> Ngày giao hàng</th>
                <th> Tên người nhận</th>
                <th> Địa chỉ nhận</th>
                <th> Điện thoại nhận</th>
                <th> Hoành thành thanh toán</th>
                <th> Hoành thành giao hàng</th>
                <th> Mã khách hàng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd gradeX">

                    <td>
                        @item.SoDH
                    </td>
                    <td>

                        @item.NgayDatHang
                    </td>
                    <td>
                        @item.DaGiao
                    </td>
                    <td>
                        @item.NgayGiaoHang
                    </td>
                    <td>
                        @item.TenNguoiNhan
                    </td>
                    <td>
                        @item.DiaChiNhan
                    </td>
                    <td>
                        @item.DienThoaiNhan
                    </td>
                    <td>
                        @item.HTThanhToan
                    </td>
                    <td>
                        @item.HTGiaoHang
                    </td>
                    <td>
                        @item.MaKhachHang
                    </td>
                </tr>
            }
    </table>
</div>
<footer>
    <div class="MenuTrang" style="text-align:center;">
        trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action
             ("Index", new { page = page })) <br />
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>

</footer>



