
@{
    ViewBag.Title = "Createmau";
    Layout = "~/Areas/Admin/Views/Shared/View1.cshtml";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <p>

            Mã màu :
            @Html.TextBox("MaMau")<font color=red>
                @ViewData["loi"]
            </font>
        </p>
        <p>

            Tên màu :
            @Html.TextBox("TenMau")<font color=red>
                @ViewData["loi1"]
            </font>
        </p>
        <p> <button type="submit" class="btn btn-success">Tạo Mới</button>
        <a href="@Url.Action("Index","MauSac")" class="btn btn-primary">
    Trở Về
</a></p>
    </fieldset>
}

